<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Airline</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/passenger']">Passenger</a>
                </li>
            </ul>
            <span class="navbar-text">
                Airline API
            </span>
        </div>
    </div>
</nav>